<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <solution>
        <add key="disableSourceControlIntegration" value="true" />
    </solution>
    <packageSources>
        <clear />
        <add key="NuGet Official" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
        <add key="Azure DevOps" value="https://pkgs.dev.azure.com/suporte0667/NoCond/_packaging/NoCond/nuget/v3/index.json" protocolVersion="3" />
    </packageSources>
</configuration>